/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/public/js
/out
/.repl
*.log
/.env

*.clj~ 
*.cljs~
*.swp
*~
.repl-history
log/
node_modules/

# Leiningen
/.lein-repl/
/target/
/classes/
/project.clj.d/

pom.xml
.lein-repl-history
pom.xml.asc
.nrepl-port
demo/empty.cljs
out
tmp
figwheel_server.log

reagent.iml
.idea
.lein-failures

junit
.shadow-cljs
coverage/

.clj-kondo/.cache
.cpcache/
.lsp/.cache
.nrepl.edn
